/*------------------------------------*\
  #RESET-STYLES
\*------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body, li {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

a img {
    border: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/

body {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    font: 1.125rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font: 2.625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h2 {
    font: 2.625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h3,
.social-stats-item-2 {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #919191;
    font-style: italic;
    font-weight: 200;
    margin: 1.5rem 0;
}

h4 {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
    margin: 2.5rem 0;
}

p,
.social-stats-item-3 {
    font: 1.125rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2rem;
}

em {
    font-style: normal;
    color: #f34500;
}

.source {
    font: 0.625rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

.center-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
    color: #f34500;
}

a.grey-link {
    color: #4f4f4f;
}

/*------------------------------------*\
  #PSEUDO-CLASSES
\*------------------------------------*/

.topper::after {
    background: rgb(183,19,0);
    background: -moz-linear-gradient(left, rgba(183,19,0,1) 0%, rgba(243,69,0,1) 40%, rgba(243,69,0,1) 60%, rgba(183,19,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    background: linear-gradient(to right, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71300', endColorstr='#b71300',GradientType=1 ); 
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*------------------------------------*\
  #LAYOUT-STYLES
\*------------------------------------*/

/* ---- Navigation ---- */


/* ---- Layout Containers ---- */

.page-wrap {
    background: #ffffff;
}

.content-wrap {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    max-width: 980px;
    padding: 30px 15px 30px 15px;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    max-width: 980px;
    align-self: flex-start; 
}

.intro,
.section {
    margin: 35px 0 100px 0;
}

/*------------------------------------*\
  #ELEMENT STYLES
\*------------------------------------*/

/* ---- Navigation ---- */


/* ---- Header ---- */


/* ---- Floating Sidebar ---- */

.floating-sidebar {
    width: 100%;
    max-width: 980px;
    align-self: flex-start;
}

ul.floating-sidebar li {
    display: inline-block;
}

ul.floating-sidebar li a img {
    width: 40px;
    height: 40px;
    margin: 12px;
}

ul.floating-sidebar li a img:first-child {
    margin-left: 0;
}

/* ---- Intro ---- */

.page-title {
    padding-bottom: 35px;
    border-bottom: 5px solid #f34500;
}

.divider-title {
    color: #f34500;
    text-align: center;
}

/* ---- Sections ---- */

.section-title {
    font-size: 1.75rem;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    background: #f34500;
    background: url(img/divider.jpg) 75%;
}

.trend {
    border-top: 5px solid #4f4f4f;
    padding-top: 15px;
}

.trend em {
    font-weight: 500;
}

.trend-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.trend-img-medium,
.trend-img-small {
    width: 25%;
}

em.italic {
    color: #4f4f4f;
    font-style: italic;
}

.save-pdf {
    border-top: 5px solid #f34500;
    padding-top: 15px;
    margin: 0;
}

.case-study-img {
    margin: 0 auto;
}

.data-numbers em {
    font: 3.75rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: block;
}

h3.thermometer-entertainment,
h3.thermometer-news {
    color: #4f4f4f;
    font-style: normal;
    font-weight: 300;
}

/* ---- TV ---- */

.tv-stats-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tv-stats-item {
    width: 100%;
}

.tv-stats-item p {
    text-align: center;
}

h3.thermometer-entertainment,
h3.thermometer-news {
    background: left / contain no-repeat url(img/tv-entertaiment.svg);
    width: 270px;
    margin: 1.5rem auto .75rem auto;
    padding-left: 60px;
}

h3.thermometer-news {
    background: left / contain no-repeat url(img/tv-news.svg);
    width: 181px;
}

/* ---- Social Media ---- */

.social-stats-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.social-stats-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 40px;
    border-bottom: solid 1px #919191;
}

.social-stats-item-1 {
    width: 50%;
}

.social-stats-item-2 {
    color: #4f4f4f;
    font-style: normal;
    font-weight: 200;
    align-self: center;
    margin: 0 0 0 auto;
}

.social-stats-item-3 {
    width: 100%;
    font-weight: 600;
    margin: 1rem 0;
    text-align: left;
}


/* ---- Radio & Podcast ---- */

.car-radio-text {
    width: 100%;
    margin: 1rem auto 2rem auto;
}


/* ---- Newspaper ---- */

.newspaper-stats-legend-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 85%;
    margin: 0 .5rem -1rem auto;
}

.newspaper-stats-legend-img {
    max-width: 215px;
}

.newspaper-stats-legend {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f34500;
    font-style: normal;
    font-weight: 600;
}

.newspaper-stats-flex {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

.newspaper-stats-img {
    width: 25%;
    z-index: 100;
    align-self: flex-end;
}

.newspaper-stats-left {
    width: 45%;
    margin-left: -12%;
    background: #4f4f4f;
    align-self: flex-end;
}

.newspaper-stats-right {
    width: 40%;
    background: #949494;
    align-self: flex-end;
}

.newspaper-stats-left p,
.newspaper-stats-right p {
    font: 1.875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.newspaper-stats-left p {
    padding: 15px 0 15px 15px;
}

.newspaper-stats-right p {
    padding: 15px 0;
}

.newspaper-flex {
    display: flex;
    flex-flow: column nowrap;
}

.newspaper-flex-item {
    width: 100%;
    margin: 15px 0 0 0;
}

.newspaper-flex-item p {
    padding: 15px 0px 0 0px;
    margin-bottom: 0;
}

.divider {
    width: 100%;
    background: #4f4f4f;
    height: 5px;
}

/* ---- Magazines ---- */


/* ---- Gender Differences ---- */

.gender-table-flex {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 20px 0;
}

.gender-table-flex:first-of-type,
.gender-table-flex:last-of-type {
    padding: 0;
}

.white {
    background: #ffffff;
}

.gender-table-flex:last-of-type {
    border-bottom: solid 5px #f34500;
}

.gender-col-flex-title,
.gender-col-flex-left,
.gender-col-flex-right {
    display: flex;
    flex-flow: row wrap;
    background: #4f4f4f;
    width: 50%;
    padding: 0 5px;
    justify-content: center;
}

.gender-col-flex-right {
    background: #949494;
}

.gender-col-flex-title {
    background: #ffffff;   
}

.gender-table-title-img {
    width: 50%;
}

.gender-table-img,
.gender-table-text {
    width: 100%;
}

.gender-table-text {
    color: #ffffff;
    text-align: center;
}


/* ---- Implications ---- */


/* ---- About ---- */

.center {
    text-align: center;
    padding: 0 2rem;
}

.about-img {
    width: 172px;
    margin: 0 auto 1rem auto;
}

.about-contact-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: #F1F1F1;
    padding: 2.5rem 1.5rem;
}

.about-contact-1,
.about-contact-2,
.about-contact-3 {
    width: 100%;
}

.about-contact-1 {
    font: 1.5rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 2.5rem;
    text-align: left;
}

.about-contact-2 {
    padding-bottom: 1rem;
}

.about-contact-2 p,
.about-contact-3 p {
    margin: .5rem 0;
}

.about-contact-2 p:first-of-type,
.about-contact-3 p {
    font-weight: 600;
}

/* ---- Other Surveys ---- */

.section-links h2 {
    text-align: center;
    margin: 1rem;
}


/* ---- Sign Up Form ---- */


/* ---- Footer ---- */


/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

/* ---- Navigation ---- */


/* ---- Header ---- */


/* ---- Containers ---- */

@media screen and (min-width: 768px) {
    .content-wrap {
        padding: 30px 45px 30px 45px;
    }
}

@media screen and (min-width: 1200px) {
    .content-wrap {
        max-width: 1200px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
        justify-content: space-between;
    }
}


/* ---- Sections ---- */

@media screen and (min-width: 768px) {
    .section-title {
        font-size: 2.625rem;
        background: url(img/divider.jpg);
        background-size: cover;
    }

    .trend-img-medium {
        width: 30%;
    }

    .trend-img-small {
        width: 15%;
    }
}

/* ---- Floating Sidebar ---- */

@media screen and (min-width: 1200px) {

    .floating-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 65px;
        width: 40px;

    }

    ul.floating-sidebar li {
        display: block;
    }

    ul.floating-sidebar li a img {
        width: 40px;
        height: 40px;
        margin: 12px 0;
    }
}

/* ---- Intro ---- */


/* ---- TV ---- */

@media screen and (min-width: 650px) {
    .tv-stats-flex {
        display: flex;
        flex-flow: row wrap;
        padding: 0 35px;
        justify-content: space-between;
    }
    
    .tv-stats-item {
        width: 45%;
    }
}

@media screen and (min-width: 1100px) {
    .data-numbers em {
        font: 6.375rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        display: block;
    }

    h3.thermometer-news {
        width: 264px;
    }
}

/* ---- Social Media ---- */


@media screen and (min-width: 500px) {
    .social-stats-item-2 em {
        font: 4.625rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        margin: 0 0 2rem auto;
    }
}

@media screen and (min-width: 768px) {
    .social-stats-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .social-stats-container {
        display: flex;
        flex-flow: column-reverse nowrap;
        align-content: space-between;
        width: 20%;
        padding: 0 5%;
        margin-bottom: 0px;
        border-bottom: 0;
        border-right: solid 1px #919191;
    }

    .social-stats-container:first-of-type {
        padding-left: 0;
    }

    .social-stats-container:last-of-type {
        padding-right: 0;
        border-right: none;
    }

    .social-stats-item-1,
    .social-stats-item-2,
    .social-stats-item-3 {
        width: 100%;
        align-self: center;
        text-align: center;
    }

    .social-stats-item-2 {
        margin: 1.5rem 0;
    }

    .social-stats-item-2 em {
        font: 2.1875rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        margin: 0 0 2rem auto;
    }

    .social-stats-item-3 {
        margin: 0 0 auto 0;
    }
}

@media screen and (min-width: 880px) {
    .social-stats-item-2 em {
        font: 4.625rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        margin: 0 0 2rem auto;
    }
}

/* ---- Radio & Podcast ---- */

@media screen and (min-width: 600px) {
    .car-radio-text {
        width: 45%;
        margin: -7rem 0 6rem auto;
    }
}

@media screen and (min-width: 700px) {
    .car-radio-text {
        margin: -8rem 0 6rem auto;
    }
}

@media screen and (min-width: 1200px) {
    .car-radio-text {
        margin: -12rem 0 10rem auto;
    }
}


/* ---- Newspaper ---- */

@media screen and (min-width: 500px) {
    .newspaper-stats-left {
        width: 40%;
        margin-left: -12%;
        background: #4f4f4f;
        align-self: flex-end;
    }
}

@media screen and (min-width: 580px) {
    .newspaper-flex {
        display: flex;
        flex-flow: row wrap;
    }

    .newspaper-flex-item {
        width: 50%;
    }

    .newspaper-flex-item p {
        padding: 15px 25px 0 50px;
    }

    .newspaper-stats-left p,
    .newspaper-stats-right p {
        font: 3.0625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        padding: 15px 0;
        margin: 0;
    }
}

@media screen and (min-width: 672px) {
    .newspaper-stats-left {
        margin-left: -13%;
    }
}

@media screen and (min-width: 728px) {
    .newspaper-stats-left {
        margin-left: -14%;
    }
}

@media screen and (min-width: 768px) {
    .newspaper-stats-left p,
    .newspaper-stats-right p {
        font: 4.0625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        padding: 15px 0;
        margin: 0;
    }

    .newspaper-stats-left,
    .newspaper-stats-right {
        width: 44%;
    }
}

@media screen and (min-width: 818px) {
    .newspaper-stats-left {
        margin-left: -15%;
    }
}

@media screen and (min-width: 920px) {
    .newspaper-stats-left {
        margin-left: -16%;
    }
}

@media screen and (min-width: 1200px) {
    .newspaper-stats-img {
        width: 30%;
    }
    
    .newspaper-stats-left {
        width: 50%;
        margin-left: -22%;
    }

    .newspaper-stats-right {
        width: 40%;
    }
}

/* ---- Magazines ---- */


/* ---- Gender Differences ---- */

@media screen and (min-width: 768px) {
    .gender-col-flex-left,
    .gender-col-flex-right {
        display: flex;
        flex-flow: row nowrap;
        background: #4f4f4f;
        width: 50%;
        padding: 0 15px;
        justify-content: space-around;
        align-items: center;
    }

    .gender-col-flex-left {
        flex-flow: row-reverse nowrap;  
    }

    .gender-col-flex-right {
        background: #949494;
    }

    .gender-table-text {
        color: #ffffff;
        text-align: left;
        margin-bottom: 0;
    }

    .gender-table-img,
    .gender-table-text {
        width: 50%;
    }
}

/* ---- Implications ---- */


/* ---- About ---- */

@media screen and (min-width: 620px) {
    
    .about-contact-1 {
        text-align: center;
    }

    .about-contact-2,
    .about-contact-3 {
        width: 50%;
        max-width: 280px;
    }
}


/* ---- Other Surveys ---- */


/* ---- Sign Up Form ---- */


/* ---- Footer ---- */