/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    font: 1.125em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font: 2.625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h2 {
    font: 2.625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h3 {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #919191;
    font-style: italic;
    font-weight: 200;
    margin: 1.5rem 0;
}

h4 {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
    margin: 2.5rem 0 1.5rem 0;
}

p {
    font: 1.125em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

em {
    font-style: normal;
    color: #f34500;
}

header {
    background: url(img/mobile-hdr.jpg);
    background-size: cover;
}

a img {
    border: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*------------------------------------*\
  #MAKE LESS SPECIFIC
\*------------------------------------*/

li a img.social {
    width: 40px;
    height: 40px;
}

.flex-pie-chart-legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

li.pie-item-1 {
     width: 100%;
     max-width: 600px;
     display: block;
}

li.pie-item-1 img {
    width: 449px;
    height: 449px;
}

@supports (display: flex) {
    li.pie-item-1 img {
        width: 100%;
        height: auto;
    }
}

.pie-item-2 em,
.pie-item-3 em,
.pie-item-4 em,
.pie-item-5 em,
.pie-item-6 em {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 100;
    padding-right: .5rem;
}

.pie-item-2,
.pie-item-3,
.pie-item-4,
.pie-item-5,
.pie-item-6 {
    font: 1.125em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 700;
    padding-top: 1rem;
}

/*------------------------------------*\
  #PSEUDO-CLASSES
\*------------------------------------*/

.topper::after {
    background: rgb(183,19,0);
    background: -moz-linear-gradient(left, rgba(183,19,0,1) 0%, rgba(243,69,0,1) 40%, rgba(243,69,0,1) 60%, rgba(183,19,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    background: linear-gradient(to right, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71300', endColorstr='#b71300',GradientType=1 ); 
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*------------------------------------*\
  #LAYOUT-STYLES
\*------------------------------------*/

/* ---- Navigation ---- */

.topper {
    position: relative;
    padding: 15px;
    z-index: 1000;
}

.nav-logo {
    position: relative;
    width: 25%;
    max-width: 125px;
    z-index: 2;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, .9);
    padding: 100px 3em;
    z-index: 1;
    display: none;
}

.nav-links {
    list-style-type: none;
    text-transform: uppercase;
}

.nav-links-items {
    padding: 30px 0;
}

.nav-links,
.career-link {
    text-decoration: none;
    color: #ffffff;
}

.contact-link {
    text-decoration: none;
    color: #f34500;
}

/* ---- Layout Containers ---- */

.header-content {
    width: 100%;
    max-width: 500px;
    padding: 4% 5%;
}

.main-wrapper {
    width: 90%;
    margin: 3.125rem auto;
}

.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
}

.flex-social-sidebar,
.flex-content {
    width: 100%;
}

.pie-chart-container,
.flex-bar-chart-container,
.flex-social-chart-container {
    margin-top: 40px;
    max-width: 59.375rem;
}

.flex-bar-chart-container,
.flex-social-chart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.flex-bar-chart-container {
    border-left: solid #f34500 5px;
}

.tv-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}


.tv-item-1,
.tv-item-2 {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0 2rem;
}

/* ---- Page Elements ---- */

.button-light {
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .2s ease-out;
}

.button-light:hover {
    color: #f34500;
    background-color: #ffffff;
}

.header-content p:first-child {
    font: 3rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    margin-bottom:20px;
}

.header-content p {
    font: 1.125rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

.content-title {
    font: 2.825rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 200;
    width: 100%;
    padding: .25rem 0;
    text-align: center;
    background: center / cover no-repeat url("img/divider.jpg");
}

.flex-social-sidebar-items {
    display: inline-block;
    padding: 8px;
    line-height: 1;
}

.header-content p:first-child {
    font: 3rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    margin-bottom:20px;
}

.header-content p {
    font: 1.125rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

.flex-content h2 {
    font-weight: 700;
    padding: 1.25rem 0 4.0625rem 0;
    border-bottom: 5px solid #f34500;
}

.bar-item-1 em,
.bar-item-2 em,
.bar-item-3 em,
.bar-item-4 em,
.bar-item-5 em {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f34500;
    font-style: normal;
    font-weight: 100;
    padding-left: 4%;
}

.social-item-1 em,
.social-item-2 em,
.social-item-3 em,
.social-item-4 em,
.social-item-5 em {
    font: 1.875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f34500;
    font-style: normal;
    font-weight: 100;
    margin-left: auto;
    padding: 0;
}

.bar-item-3 em,
.bar-item-4 em,
.bar-item-5 em,
.social-item-2 em,
.social-item-3 em,
.social-item-4 em,
.social-item-5 em {
    color: #4f4f4f;
}

.flex-bar-chart-container p,
.flex-social-chart-container p {
    font: .75rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    text-align: left;
}

.bar-item-1,
.bar-item-2,
.bar-item-3,
.bar-item-4,
.bar-item-5,
.social-item-1,
.social-item-2,
.social-item-3,
.social-item-4,
.social-item-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    border-bottom: solid #c8c8c8 1px;
    padding-top: 2rem;
}

.bar-item-1-shape,
.bar-item-2-shape,
.bar-item-3-shape,
.bar-item-4-shape,
.bar-item-5-shape {
    background-color: #4f4f4f;
    height: 2rem;
}

.bar-item-3-shape,
.bar-item-4-shape,
.bar-item-5-shape {
    background-color: #c8c8c8;
}

.bar-item-1-shape {
    width: 70%;
}

.bar-item-2-shape {
    width: 65%;
}

.bar-item-3-shape {
    width: 50%;
}

.bar-item-4-shape {
    width: 48%;
}

.bar-item-5-shape {
    width: 38%;
}

.tv-content p:first-child {
    color: #f34500;
    text-align: center;
    margin: 2.5rem 0 1.5rem 0;
}

.tv-item-1 em,
.tv-item-2 em {
    font: 3.75rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 0;
    display: block;
}

.tv-item-1 h4,
.tv-item-2 h4 {
    padding-left: 3.125rem;
    margin: 2rem auto 1rem;
}

.tv-item-1 h4 {
    width: 17rem;
    background: left / contain no-repeat url("img/ent-thermometer.svg");
}

.tv-item-2 h4 {
    width: 10rem;
    background: left / contain no-repeat url("img/news-thermometer.svg");
}

.tv-item-container p {
    text-align: center;
}

.callout {
    width: 100%;
    max-width: 980px;
    margin: 2rem 0;
}

.callout-divider {
    width: 100%;
    border-bottom: solid 5px #4f4f4f;
    margin-bottom: .5rem;
}

img.trend-img {
    width: 50%;
    height: auto;
    margin: 0 25%;
}

.callout em {
    text-transform: uppercase;
    color: #f34500;
    font-weight: 600;
}

img.connect-img {
    width: 20%;
    max-width: 80px;
    height: auto;
    margin: 0 40%;
}

img.facebook-chrt {
    width: 99px;
    height: 99px;
    margin-left: 1rem;
}

img.twitter-chrt {
    width: 56px;
    height: 45px;
    margin-left: 1rem;
}

img.instagram-chrt {
    width: 34px;
    height: 34px;
    margin-left: 1rem;
}

img.pinterest-chrt {
    width: 30px;
    height: 37px;
    margin-left: 1rem;
}

img.snapchat-chrt {
    width: 20px;
    height: 19px;
    margin-left: 1rem;
}


/*------------------------------------*\
  #DISPLAYS-NAV-LINKS
\*------------------------------------*/

.active {
    display: block;
}

/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

/* ---- Navigation ---- */

@media screen and (min-width: 1100px) {

    .navbar {
        display: inline-block;
        min-height: 110px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        padding: 20px;
        z-index: 1;
    }

    .main-nav {
        text-align: center;
        margin: 0 auto;
        padding-top: 45px;
    }

    .main-nav li {
        margin: 0;
        display: inline-block;
    }

    .nav-links-items {
        padding: 0 20px;
    }

   .nav-links {
        margin: 0;
    }

    .contact-link {
        color: #ffffff;
        padding: 5px 15px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        transition: all .2s ease-out;
    }

    .contact-link:hover {
        color: #f34500;
        background-color: #ffffff;
    }

    button.hamburger, 
    .career-link {
        display: none;
    }
}

/* ---- Everything Else ---- */

@media screen and (min-width: 500px) {
    header {
        background: url(img/desktop-hdr.jpg);
        background-position: 20% 50%;
    }

    .flex-pie-chart-legend {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
    }

    .pie-item-2 {
        width: 100%;
        margin: -10rem auto 0 8rem;
        color: #ffffff;
    }

    .pie-item-3,
    .pie-item-4,
    .pie-item-5,
    .pie-item-6 {
        -webkit-box-flex: 1;
        -ms-flex: 1 auto;
        flex: 1 auto;
    }

    .pie-item-2 em,
    .pie-item-3 em,
    .pie-item-4 em,
    .pie-item-5 em,
    .pie-item-6 em {
        display: block;
    }

    .pie-item-2 em {
        font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 300;
    }
}

@media screen and (min-width: 700px) {

    .flex-pie-chart-legend {
        -webkit-box-pack: initial;        
        -ms-flex-pack: initial;        
        justify-content: initial;

    }
    
    .pie-item-3,
    .pie-item-4,
    .pie-item-5,
    .pie-item-6 {
        padding-left: 0;
    }
    
    .pie-item-2 {
        width: 100%;
        margin: -12rem auto 0 10rem;
        color: #ffffff;
    }

    .pie-item-3 {
        width: 25%;
        margin: -12rem 0 0 36rem;
    }

    .pie-item-4 {
        width: 25%;
        margin: -1rem 0 0 20rem;
    }

    .pie-item-5 {
        width: 25%;
        margin: -10rem 0 0 32rem;
    }

    .pie-item-6 {
        width: 25%;
        margin: -3rem 0 0 31rem;
    }
}

@media screen and (min-width: 730px) {
    header {
        background: url(img/desktop-hdr.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    
    .flex-bar-chart-container,
    .flex-social-chart-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        border-left: none;
    }

    .flex-bar-chart-container {
        border-bottom: solid #f34500 5px;
    }

    .bar-item-1,
    .bar-item-2,
    .bar-item-3,
    .bar-item-4,
    .bar-item-5,
    .social-item-1,
    .social-item-2,
    .social-item-3,
    .social-item-4,
    .social-item-5 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: none;
        border-right: solid #c8c8c8 1px;
        padding-top: 0;
        width: 20%;
    }

    .bar-item-5,
    .social-item-5 {
        border-right: none;
    }

    .bar-item-1-shape,
    .bar-item-2-shape,
    .bar-item-3-shape,
    .bar-item-4-shape,
    .bar-item-5-shape {
        width: 2rem;
    }

    .bar-item-1-shape {
        height: 15.3125rem;
    }
    
    .bar-item-2-shape {
        height: 13.25rem;
    }
    
    .bar-item-3-shape {
        height: 7.375rem;
    }
    
    .bar-item-4-shape {
        height: 6.5625rem;
    }
    
    .bar-item-5-shape {
        height: 4.6875rem;
    }

    .social-item-1 em,
    .social-item-2 em,
    .social-item-3 em,
    .social-item-4 em,
    .social-item-5 em,
    img.facebook-chrt, 
    img.twitter-chrt,
    img.instagram-chrt, 
    img.pinterest-chrt, 
    img.snapchat-chrt {
        margin-left: 0;
    }

    .social-item-1 em,
    .social-item-2 em,
    .social-item-3 em,
    .social-item-4 em,
    .social-item-5 em {
        padding-bottom: 1rem;
    }

    .flex-bar-chart-container p,
    .flex-social-chart-container p {
        padding: 0 0 1rem 0;
        text-align: center;
        margin-bottom: auto;
    }

    .tv-item-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;

    }

    .tv-item-1,
    .tv-item-2 {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

@media screen and (min-width: 800px) {

    .content-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
                flex-flow: row-reverse nowrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
                align-items: flex-start;
    }


    .flex-social-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        width: 3.5rem;
    }

    .flex-social-sidebar-items {
        display: block;
    }


    .flex-content {
        padding-right: 1.875rem;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }

    .content-title {
        padding: .5rem 0;
    }
}

@media screen and (min-width: 1100px) {
    
    .header-content {
        width: 100%;
        max-width: 700px;
        padding: 3% 5%;
    }
    
    .header-content p:first-child {
        font: 4rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        margin-bottom:20px;
    }
    
    .header-content p {
        font: 1.5rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
    }

    .flex-pie-chart-legend {
        margin-left: 8rem;
    }

    .content-container {
        max-width: 64.9375rem;
    }

    .content-title {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1500px) {
    .header-content {
        width: 100%;
        max-width: 1000px;
        padding: 3% 5%;
    }
    
    .header-content p:first-child {
        font: 6rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        margin-bottom:20px;
    }
    
    .header-content p {
        font: 2rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
    }
}