* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    font: 1.125em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h2 {
    font: 2.625rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

h4 {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
    margin-top: 2.5rem;
}

p {
    font: 1.125em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 400;
}

em {
    font-style: normal;
    color: #f34500;
}

header {
    background: url(img/mobile-hdr.jpg);
    background-size: cover;
}

a img {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.flex-social-sidebar li {
    display: inline-block;
    padding: 8px;
    line-height: 1;
}

li a img.social {
    width: 40px;
    height: 40px;
}

ul.flex-pie-chart-legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

li.pie-item-1 {
     width: 100%;
     max-width: 600px;
     display: block;
}

li.pie-item-1 img {
    width: 100%;
}

li.pie-item-2 em,
li.pie-item-3 em,
li.pie-item-4 em,
li.pie-item-5 em,
li.pie-item-6 em {
    font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 100;
    padding-right: .5rem;
}

li.pie-item-2,
li.pie-item-3,
li.pie-item-4,
li.pie-item-5,
li.pie-item-6 {
    font: 1.125em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-style: normal;
    font-weight: 700;
    padding-top: 1rem;
}

/* CLASSES */

.topper {
    position: relative;
    padding: 15px;
    z-index: 1000;
}

.topper::after {
    background: rgb(183,19,0);
    background: -moz-linear-gradient(left, rgba(183,19,0,1) 0%, rgba(243,69,0,1) 40%, rgba(243,69,0,1) 60%, rgba(183,19,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    background: linear-gradient(to right, rgba(183,19,0,1) 0%,rgba(243,69,0,1) 40%,rgba(243,69,0,1) 60%,rgba(183,19,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71300', endColorstr='#b71300',GradientType=1 ); 
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-logo {
    position: relative;
    width: 25%;
    max-width: 125px;
    z-index: 2;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, .9);
    padding: 100px 3em;
    z-index: 1;
    display: none;
}

.main-nav {
    list-style-type: none;
}

.nav-links,
.career-link {
    text-decoration: none;
    color: #ffffff;
}

.main-nav li {
    text-transform: uppercase;
    margin: 30px auto;
}

.contact-link {
    text-decoration: none;
    color: #f34500;
}

.button-light {
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .2s ease-out;
}

.button-light:hover {
    color: #f34500;
    background-color: #ffffff;
}

.header-content {
    width: 100%;
    max-width: 500px;
    padding: 4% 5%;
}

.header-content p:first-child {
    font: 3rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    margin-bottom:20px;
}

.header-content p {
    font: 1.125rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

.main-wrapper {
    width: 90%;
    margin: 3.125rem auto;
}

.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 1060px;
    padding: 0;
    margin: 0 auto;
}

.flex-content {
    padding-right: 1.875rem;
    max-width: 60.9375rem;
}

.flex-content h2 {
    font-weight: 700;
    padding: 1.25rem 0 4.0625rem 0;
    border-bottom: 5px solid #f34500;
}

.pie-chart-container {
    margin-top: 40px;
    max-width: 59.375rem;
}

/* DISPLAY NAV LINKS */

.active {
    display: block;
}

@media screen and (min-width: 1100px) {
    .navbar {
        display: inline-block;
        min-height: 110px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        padding: 20px;
        z-index: 1;
    }

    .main-nav {
        text-align: center;
        margin: 0 auto;
        padding-top: 45px;
    }

    .main-nav li {
        margin: 0;
        display: inline-block;
    }

    .main-nav li a.nav-links {
        margin: 0;
        padding: 0 20px;
    }

    .contact-link {
        color: #ffffff;
        padding: 5px 15px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        transition: all .2s ease-out;
    }

    .contact-link:hover {
        color: #f34500;
        background-color: #ffffff;
    }

    button.hamburger, 
    .career-link {
        display: none;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    header {
        background: url(img/desktop-hdr.jpg);
        background-position: 20% 50%;
    }

    ul.flex-pie-chart-legend {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    li.pie-item-2 {
        width: 100%;
        margin: -10rem auto 0 8rem;
        color: #ffffff;
    }

    li.pie-item-3,
    li.pie-item-4,
    li.pie-item-5,
    li.pie-item-6 {
        width: 50%;
        padding-left: 5rem;
    }

    li.pie-item-2 em,
    li.pie-item-3 em,
    li.pie-item-4 em,
    li.pie-item-5 em,
    li.pie-item-6 em {
        display: block;
    }

    li.pie-item-2 em {
        font: 2.1875rem/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 300;
    }
}

@media screen and (min-width: 700px) {
    
    li.pie-item-3,
    li.pie-item-4,
    li.pie-item-5,
    li.pie-item-6 {
        padding-left: 0;
    }
    
    li.pie-item-2 {
        width: 100%;
        margin: -12rem auto 0 10rem;
        color: #ffffff;
    }

    li.pie-item-3 {
        width: 25%;
        margin: -12rem 0 0 36rem;
    }

    li.pie-item-4 {
        width: 25%;
        margin: -1rem 0 0 20rem;
    }

    li.pie-item-5 {
        width: 25%;
        margin: -10rem 0 0 32rem;
    }

    li.pie-item-6 {
        width: 25%;
        margin: -3rem 0 0 31rem;
    }
}

@media screen and (min-width: 730px) {
    header {
        background: url(img/desktop-hdr.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {

    ul.flex-social-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }

    ul.flex-social-sidebar li {
        display: block;
    }

    .content-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }  
}

@media screen and (min-width: 1100px) {
    .header-content {
        width: 100%;
        max-width: 700px;
        padding: 3% 5%;
    }
    
    .header-content p:first-child {
        font: 4rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        margin-bottom:20px;
    }
    
    .header-content p {
        font: 1.5rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
    }

    ul.flex-pie-chart-legend {
        margin-left: 8rem;
    }
}

@media screen and (min-width: 1500px) {
    .header-content {
        width: 100%;
        max-width: 1000px;
        padding: 3% 5%;
    }
    
    .header-content p:first-child {
        font: 6rem/1 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        margin-bottom:20px;
    }
    
    .header-content p {
        font: 2rem/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
    }
}